.tab-button {
  padding: 0.6rem 1.2rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 1rem;
  transition:
    border-color 0.3s,
    color 0.3s;
  font-weight: 600;
}

.tab-button:hover {
  border: 1px solid var(--color-primary-500);
}

.tab-button.active {
  border: 1px solid var(--color-primary-500);
}
