<div class="m-4 px-2 py-4 bg-white rounded-lg shadow-lg">
  <!-- Header Section -->
  <div class="flex justify-between items-center p-2 border-b border-slate-100">
    <p-select
      [options]="categoryOptions"
      [ngModel]="selectedCategory"
      (onChange)="onCategoryChange($event.value)"
      size="small"
      class="candidates-dropdown"
      placeholder="All Candidates"
    >
      <ng-template #selectedItem let-selected>
        <div class="flex items-center gap-2">
          <i class="pi pi-th-large"></i>
          <span>{{ selected?.label || 'All Candidates' }}</span>
        </div>
      </ng-template>
    </p-select>

    <div class="flex gap-1">
      <p-button
        disabled
        icon="pi pi-file-edit"
        [text]="true"
        severity="secondary"
        size="small"
        pTooltip="Note"
        tooltipPosition="top"
      />
      <p-button
        disabled
        icon="pi pi-calendar"
        [text]="true"
        severity="secondary"
        size="small"
        pTooltip="Schedule"
        tooltipPosition="top"
      />
      <p-button
        disabled
        icon="pi pi-envelope"
        [text]="true"
        severity="secondary"
        size="small"
        pTooltip="Email"
        tooltipPosition="top"
      />
      <p-button
        disabled
        icon="pi pi-copy"
        [text]="true"
        severity="secondary"
        size="small"
        pTooltip="Copy"
        tooltipPosition="top"
      />

      <p-divider layout="vertical" />

      <p-button
        icon="pi pi-sliders-h"
        label="Advanced"
        [text]="true"
        severity="secondary"
        size="small"
      />
      @if (viewType() === 'table') {
        <p-button
          icon="pi pi-table"
          label="Columns"
          [text]="true"
          severity="secondary"
          size="small"
        />
      }

      <p-divider layout="vertical" />

      <p-button
        (click)="viewType.set('table')"
        icon="pi pi-list"
        [text]="viewType() !== 'table'"
        severity="secondary"
        size="small"
        pTooltip="View as list"
        tooltipPosition="top"
      />
      <p-button
        (click)="viewType.set('card')"
        icon="pi pi-th-large"
        [text]="viewType() !== 'card'"
        severity="secondary"
        size="small"
        pTooltip="View as grid"
        tooltipPosition="top"
      />
      <p-button
        (click)="viewType.set('card')"
        icon="pi pi-id-card"
        [text]="viewType() !== 'card'"
        severity="secondary"
        size="small"
        pTooltip="View as cards"
        tooltipPosition="top"
      />

      <p-button
        icon="pi pi-cloud-upload"
        label="Import"
        severity="primary"
        class="import-btn"
        size="small"
      />
    </div>
  </div>

  <!-- Candidates views -->
  @if (viewType() === 'table') {
    <app-table-view></app-table-view>
  } @else {
    <app-card-view></app-card-view>
  }

  <!-- Shared Paginator: sticky at bottom -->
  <div
    class="flex items-center justify-end gap-3 w-full border-t border-slate-100 pt-2 sticky bottom-0 bg-white"
  >
    <p-paginator
      [rows]="filter().pageSize"
      [first]="0"
      [totalRecords]="totalRecords()"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="false"
      [alwaysShow]="true"
      (onPageChange)="onPageChange($event)"
    >
    </p-paginator>
  </div>
</div>
