<div class="grid gap-6">
  <!-- Selected pipeline view -->
  @if (currentJob()) {
    <app-job-pipeline [job]="currentJob()!"></app-job-pipeline>

    <div class="flex justify-center">
      <p-button
        (click)="toggleViewAll()"
        [label]="viewAll() ? 'Hide' : 'View All Pipelines'"
        [icon]="viewAll() ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
        size="small"
        outlined
        severity="secondary"
      ></p-button>
    </div>

    @for (job of pipelineJobs().slice(0, viewAll() ? undefined : 0); track job.job) {
      <app-job-pipeline [job]="job"></app-job-pipeline>
    }
  } @else {
    <!-- No pipeline selected show corrosponding message -->
    <div class="flex justify-center">
      <p>No pipeline selected</p>
    </div>
  }

  <!-- Pipelines table -->
  <div>
    <p-divider align="center">
      <span class="text-sm text-gray-500"> Pipeline History </span>
    </p-divider>

    <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-4 gap-4">
      <div>
        <h2 class="text-md font-medium">Other Jobs Associated with this Candidate</h2>
        <p class="text-sm text-gray-500 mt-1">View previous and parallel job applications</p>
      </div>

      <div class="flex gap-3">
        <p-select
          [options]="recruiters()"
          [(ngModel)]="selectedRecruiter"
          [showClear]="true"
          placeholder="All Recruiters"
        >
        </p-select>
        <p-datePicker
          [(ngModel)]="rangeDates"
          selectionMode="range"
          [readonlyInput]="true"
          [showIcon]="true"
          iconDisplay="input"
          placeholder="Date"
        >
          <ng-template #inputicon>
            <i class="pi pi-angle-down"></i>
          </ng-template>
        </p-datePicker>
      </div>
    </div>

    <p-table
      selectionMode="single"
      [(selection)]="currentJob"
      [value]="pipelineJobs()"
      [rowHover]="true"
      class="border border-gray-100 rounded-2xl overflow-hidden"
    >
      <ng-template #header>
        <tr class="text-left text-gray-500 text-sm">
          <th style="background-color: var(--color-gray-100)" class="font-medium py-4 pl-4">
            <i class="pi pi-building mr-2"></i>
            Job Title
          </th>
          <th style="background-color: var(--color-gray-100)" class="font-medium py-4">
            <i class="pi pi-briefcase mr-2"></i>
            Client / Company
          </th>
          <th style="background-color: var(--color-gray-100)" class="font-medium py-4">
            <i class="pi pi-user mr-2"></i>
            Recruiter
          </th>
          <th style="background-color: var(--color-gray-100)" class="font-medium py-4">Stage</th>
          <th style="background-color: var(--color-gray-100)" class="font-medium py-4 pr-4">
            <i class="pi pi-calendar mr-2"></i>
            Last Updated
          </th>
        </tr>
      </ng-template>

      <ng-template #body let-job>
        <tr
          [pSelectableRow]="job"
          class="hover:bg-gray-50 transition-colors duration-150 border-b border-gray-100 last:border-0"
        >
          <td class="py-4 pl-4">
            <div class="flex items-center gap-3">
              <p-avatar
                icon="pi pi-building"
                shape="square"
                [style]="{
                  'background-color': 'var(--color-blue-50)',
                  color: 'var(--color-blue-500)',
                }"
              />
              <span class="font-medium text-gray-700">{{ job.jobTitle }}</span>
            </div>
          </td>

          <td class="py-4 text-gray-600">
            {{ job.company }}
          </td>

          <td class="py-4 text-gray-600">
            {{ job.contact }}
          </td>

          <td class="py-4">
            <p-tag [value]="job.stage" [severity]="SEVERITY_MAP[job.stage]" [rounded]="true">
            </p-tag>
          </td>

          <td class="py-4 pr-4 text-gray-500">
            {{ job.lastUpdated | date }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
