<aside
  class="w-72 p-4 bg-gray-50 h-full shadow-[2px_0_3px_-1px_rgba(0,0,0,0.2)] transition-colors duration-200"
  [class.drag-over]="isDragOver()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onExternalDrop($event)"
>
  <p-tree
    [draggableNodes]="true"
    [droppableNodes]="true"
    draggableScope="self"
    droppableScope="self"
    [value]="sidebarService.menuItems()"
    (onNodeDrop)="nodeDropped($event)"
    (onNodeSelect)="nodeSelected($event)"
    [(contextMenuSelection)]="contextMenuNode"
    [contextMenu]="cm"
    contextMenuSelectionMode="separate"
    selectionMode="single"
  ></p-tree>
  <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
</aside>
