@if (candidate(); as candidate) {
  <td (click)="$event.stopPropagation()">
    <p-checkbox (onChange)="onSelectionToggle()" [binary]="true" [ngModel]="isSelected()" />
  </td>
  <td>
    <div
      class="flex items-center gap-3 cursor-pointer"
      [routerLink]="['/candidates', candidate.ConsIntID]"
    >
      <p-avatar
        [label]="candidate.AvatarLabel"
        shape="circle"
        [style]="{ 'background-color': avatarColor(), color: 'white' }"
      />
      <span class="font-medium link">{{ candidate.FirstName }}</span>
    </div>
  </td>
  <td>{{ candidate.LastName }}</td>
  <td>
    @if (candidate.Status) {
      <p-tag
        [value]="candidate.Status"
        [severity]="STATUS_SEVERITY_MAP[candidate.Status] || 'secondary'"
      />
    }
  </td>
  <td>{{ candidate.JobTitle }}</td>
  <td>
    <div
      class="flex gap-1 max-w-50 items-center"
      [pTooltip]="candidate.PrimarySkills.join(', ')"
      [tooltipDisabled]="candidate.PrimarySkills.length <= 2"
    >
      @for (skill of candidate.PrimarySkills.slice(0, 2); track skill) {
        <span
          class="px-2 py-1 bg-slate-100 font-semibold text-[10px] rounded-lg border border-slate-200"
        >
          {{ skill }}
        </span>
      } @empty {
        No skills
      }
      @if (candidate.PrimarySkills.length > 2) {
        <span>...</span>
      }
    </div>
  </td>
  <td>{{ candidateLocation() }}</td>
  <td>
    <a [href]="'tel:' + candidate.MobilePhone" class="link" (click)="$event.stopPropagation()">
      {{ candidate.MobilePhone }}
    </a>
  </td>
  <td>
    <a [href]="'mailto:' + candidate.EMail1" class="email-link" (click)="$event.stopPropagation()">
      {{ candidate.EMail1 }}
    </a>
  </td>
}
