/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@theme {
  --color-primary-500: var(--color-blue-600);
}

html {
  font-size: 14px;
}

.p-card {
  border-radius: var(--radius-sm);
}
